.cache
.DS_Store
.nx
.pnp
.pnp.js
.profiles
.vscode/settings.json
.yalc
*.cpuprofile
*.local
*.log
*.tsbuildinfo
bad.txt
build
coverage
cypress/screenshots
cypress/videos
dist
good.txt
node_modules
package-lock.json
pnpm-works
yalc.lock
yarn.lock
.vercel
