.cache
.dev-sync-server-data
.DS_Store
.flaky
.logs
.nx
.pnp
.pnp.js
.profiles
.vercel
.vscode/settings.json
.yalc
*.cpuprofile
*.local
*.log
*.tsbuildinfo
automerge-repo-data
build
coverage
cypress/screenshots
cypress/videos
dist
logs
node_modules
package-lock.json
pnpm-works
runner-results
vite.config.ts.timestamp*
yalc.lock
yarn.lock
.parcel-cache/**/*
data.json.*