@import '../node_modules/@ibm/plex/scss/ibm-plex.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  font-weight: bold;
}

svg foreignObject {
  overflow: visible;
}

svg foreignObject div {
  line-height: 1.4;
}

.author {
  position: absolute;
  top: -1.3em;
  left: -1.3em;
  font-size: 1.5em;
}
